<div class="music">
<div>
  <h1 class="music__heading">Sol </h1>
  <a class="link" href="/albums">{{data}}</a>
</div>

  <a class="link" href="/albums"><button type="submit">Refresh</button></a>
  <a class="link" href="/genres"><button type="submit">C°/F°</button></a>

  <!--<a class="link" href="/albums">Go to albums</a>
  <a class="link" href="/artists">Go to artists</a>
  <a class="link" href="/genres">Go to genres</a>
  
  
  //-->
  <a class="link link--home" href="/">Back to home</a>
</div>